html {
  --pop-dark-gray: #212427;
  --pop-gray: #6b6b6b;
  --pop-white: #fff;
  --pop-purple: #9b36c9;
  --pop-yellow: #f9df70;
  --pop-bg: #002B31;
  --pop-primary: #A8AEFF;
}

:root {
  font-family: "Inconsolata", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
  color: var(--pop-dark-gray);
  color-scheme: only light;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 800px;
  margin: auto;
  padding: 0 32px;
  position: relative;
}

section {
  padding-top: 32px;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

sticky-nav a {
  margin: 0 8px;
  font-weight: bold;
  color: var(--pop-dark-gray);
}

hello-hero h1 {
  font-size: 3rem;
}

strong {
}

a {
  text-decoration: none;
  color: var(--pop-purple, inherit);
}

a:hover {
  opacity: 0.7;
}

.subtitle {
  font-size: 1.2rem;
}

.muted {
  color: var(--pop-gray);
}

#contact i {
  font-size: 2rem;
  color: var(--pop-purple, inherit);
}

.row {
  display: flex;
  padding: 16px 0;
  gap: 32px;
}

.grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 320px));
}

.grid-list {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.profile {
  width: 100%;
  border-radius: 50%;
}

.showcase {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 16px;
}
